.display-type {
    display: none;
}

.cards-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-gap: 1rem;
    overflow: auto;
}